@font-face {
    font-family: 'Courier New';
    src: url('/static/fonts/CourierNewPSMT.ttf') format('truetype'),
        url('/static/fonts/CourierNewPSMT.svg#CourierNewPSMT') format('svg');
    font-weight: normal;
    font-style: normal;
}

.form{
    &__label{
        display: block;
        font-size: 22px;
        color: #2f1b15;
        font-weight: bold;
    }

    &__input{
        border: none;
        border-bottom: 2px solid #2f1b15;
        font-size: 30px;
        padding: 10px 15px;
        font-family: 'Courier New';
        outline: none;
        background: transparent;
        box-sizing: border-box;

        &:focus{
            border-bottom-style: dashed;
        }
    }    

    &__label_row{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__label-title{
        display: block;
        padding-right: 15px;
    }

    &__label-input{
        display: block;
        flex-grow: 2;

        .form__input{
            width: 100%;
        }
    }
}
