@font-face {
    font-family: 'Courier New';
    src: url('/static/fonts/CourierNewPSMT.ttf') format('truetype'),
        url('/static/fonts/CourierNewPSMT.svg#CourierNewPSMT') format('svg');
    font-weight: normal;
    font-style: normal;
}

.form{
    &__label{
        display: block;
        font-size: 22px;
        color: #2f1b15;
        font-weight: bold;
    }

    &__input{
        border: none;
        font-size: 30px;
        padding: 10px 15px;
        font-family: 'Courier New';
        outline: none;
        background: transparent;
        box-sizing: border-box;
        background: url('/common.blocks/form/form_line.png') no-repeat 0 0;
        height: 60px;
    }

    &__checkbox{
        width: 24px;
        height: 28px;
        background-image: url('/common.blocks/form/form_spritesheet.png');
        background-position: -5px -5px;
        background-repeat: no-repeat;
        display: inline-block;
        position: relative;
        top: 2px;

        &_checked{
            background-position: -5px -43px;
        }

        input{
            display: none;
        }
    }

    &__textarea{
        background: transparent;
        font-family: 'Courier New';
        font-size: 30px;
        line-height: 60px;
        border: none;
        resize: none;
        width: 100%;
        padding: 0;
        outline: none;
        background: url('/common.blocks/form/form_line.png');
    }

    &__radio{
        width: 27px;
        height: 27px;
        background-image: url('/common.blocks/form/form_spritesheet.png');
        background-position: -5px -81px;
        background-repeat: no-repeat;
        display: inline-block;
        position: relative;
        top: 6px;

        &_checked{
            background-position: -5px -118px;
        }

        input{
            display: none;
        }
    }

    &__label_row{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__label-title{
        display: block;
        padding-right: 15px;
    }

    &__label-input{
        display: block;
        flex-grow: 2;
    }
}
