.plans-form{
    margin-top: 15px;
    
    &__label{
        font-size: 20px;
        display: inline-block;
        margin-right: 15px;
        cursor: pointer;
    }

    @media (max-width: 768px) {
        &__label{
            display: block;
            margin-right: 0;
        }
    }
}