.summary{
    &__section{
        margin-top: 55px;
    }

    &__title{
        font-size: 24px;
        font-weight: bold;
        color: #2f1b15;
        margin: 0;
    }

    &__info{
        font-size: 15px;
        color: #3d3d3d;
        line-height: 23px;
        margin: 5px 0 0 0;
    }
}
